body {
	font-family: Georgia, serif;
	background-color: #F5F5F5;
	padding-left: 450px;
}

h1 {
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 40px;
}

h2 {
	font-size: 24px;
	width: 800px;
	border-bottom: 2px solid #000000;
	padding-bottom: 5px;
}

p {
	font-weight: bold;
	font-size: 18px;
	line-height: 70%
}

ul {
	list-style-type: square;
	font-size: 18px;
}

.datetime {
	font-weight: normal;
	font-size: 18px;
}

a {
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #D3D3D3;
	text-decoration: none;
	text-align: center;
	padding: 20px;

}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #A2A2A2;
}

a:active {
	color: #A2A2A2;
}

#navbar {
	text-align: right;
}

